<header class="navbar navbar-expand navbar-dark bg-danger" aria-label="Second navbar example">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">Accueil
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
       <a class="nav-link active" aria-current="page" href="<%= property_path %>">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="<%= about_path %>">A visiter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="<%= review_path %>">Avis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="<%= booking_path %>">Réserver</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="<%= contact_path %>">Nous contacter</a>
      </li>
    </ul>
    </div>
  </div>
</header>
